body {
    margin: 0;
    background-color: #53683f;
}

@font-face {
    font-family: 'middleearthmedium';
    src: url('fonts/middleearth-ao6m-webfont.woff2') format('woff2'),
        url('fonts/middleearth-ao6m-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ringbearermedium';
    src: url('fonts/ringbearermedium-51mgz-webfont.woff2') format('woff2'),
        url('fonts/ringbearermedium-51mgz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: #333;
    padding: 5px;
    text-align: center;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    padding: 4px;

}

nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 20%;
    font-family: 'ringbearermedium';
    font-size: larger;
}

nav a:hover {
    background-color: #bbb;
    color: black;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('forest.jpg');
    background-size: cover;
    height: 300px;
    /* Adjust the height as needed */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'middleearthmedium';
    text-shadow:
        1px 2px 0 #000,
        -1px 2px 0 #000,
        -1px -2px 0 #000,
        1px -2px 0 #000;
    font-size: 32px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 30px #333 solid;

}

.div-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #333;
}

.div-content {
    background-color: #bbb;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.div-content h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'ringbearermedium';
}

.div-content a {
    color: #53683f;
}

.div-content a:visited {
    color: #53683f;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer-icons {
    font-size: 24px;
    margin: 0 10px;
    color: #bbb;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}