body {
    margin: 0px;
    padding: 0px;
    background-color: #999999;
    overflow-y: scroll;
    /* Show vertical scrollbar */
}

.main {
    margin-top: 60px;
    margin-bottom: 20px;
}

.main p {
    font-size: 18px;
}

h1 {
    font-family: 'Italianno', cursive;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("johannes-plenio-hvrpOmuMrAI-unsplash.jpg");
    /* Set a specific height */
    height: 100%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#resumeLink {
    font-size: 40px;
    text-decoration: none;
    color: blue;
}

.menuIcon {
    display: none;
}

@media screen and (max-width:850px) {
    .menuIcon {
        display: block;
    }
}

.page-header {
    background-color: black;
    padding: 1.3rem;
    display: flex;
    justify-content: flex-end;
    font-family: 'Scope One', serif;
    font-size: large;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100;
    z-index: 9;
}

.nav-bar a {
    color: lightgray;
    padding: 1.3rem;
    cursor: pointer;
    text-decoration: none;
}

.nav-bar a.active, .overlay-navigation a.active {
    color: gold;
}

.nav-bar a:hover, .nav-bar a:focus {
    color: white;
}

.menu-icon {
    color: white;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 850px) {
    .menu-icon {
        display: block;
    }

    .nav-bar {
        display: none;
        position: absolute;
        top: 3.7rem;
        left: 0;
        width: 100%;
        background-color: var(--bgcolor);
        text-align: center;
    }
}


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    right: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.3s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-navigation {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: white;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 60px;
    right: 35px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.oneColumnCenter {
    text-align: center;
    -webkit-columns: 1 300px;
    -moz-columns: 1 300px;
    columns: 1 300px;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    padding-top: 10px;
}

.oneColumn {
    text-align: left;
    -webkit-columns: 1 300px;
    -moz-columns: 1 300px;
    columns: 1 300px;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    padding-top: 10px;
}

@media (min-height: 700px) {
    .twoColumn {
        -webkit-columns: 2 300px;
        -moz-columns: 2 300px;
        columns: 2 300px;
        -webkit-column-gap: 2em;
        -moz-column-gap: 2em;
        column-gap: 2em;
        -webkit-column-rule: 1px solid black;
        -moz-column-rule: 1px solid black;
        column-rule: 1px solid black;
    }
}

hr {
    color: black;
    width: 80%;
}

#profilePhoto {
    width: 15%;
    padding: 5vh;
}